<% content_for :header do -%>
  <%= configatron.site_name %> Users
<% end -%>
<% content_for :sidebar do -%>
  <ul>
    <li><%= link_to "View all RFP",index_rfp_rfp_manager_path  %></li>
    <li><%#= link_to "Upload ", upload_rfp_rfp_bdteam_path %></li>
    <li><%#= link_to "Manage RFP",manage_rfp_rfp_rfp_bdteam_path %></li>
    <li><%#= link_to "Pending users only", pending_admin_users_url %></li>
    <li><%#= link_to "Deleted users only", deleted_admin_users_url %></li>
  </ul>
<% end -%>
  <%= error_messages_for :rfp_document %>
 <table class="index">
    <tr>
      <th><%= sort_link_helper "ProjectName", "project_name" %></th><th><%= sort_link_helper "Assigned BY", "assigned_by" %></th><th><%= sort_link_helper "Created BY", "created_by" %></th><th><%= sort_link_helper "DeadLine", "deadline" %></th><th></th>
    </tr>
    <% @doc.each do |doc| %>
    <tr>
      <td> <%#=h doc.project_name %> <%= link_to_remote("#{doc.project_name}",:update=>"view",:url=>{:action=>"view_rfp",:id=>doc.id },:position=>"") %></td>
      <% if doc.assigned_by!=nil %>
         <% name=User.find(:first,:conditions=>["id=?",doc.assigned_by]) %>
         <td><%=h name.login %></td>
      <% else %>
         <td><%= "any of bdteam" %></td>
      <% end %>
      <% if doc.created_by!=nil %>
         <% name=User.find(:first,:conditions=>["id=?",doc.created_by]) %>
         <td><%=h name.login %></td>
      <% else %>
         <td><%= "any of bdteam" %></td>
      <% end %>
      <td><%=h doc.deadline %></td>
      <td><% if current_user.id==doc.created_by %> <%= link_to_remote("Upload",:update=>"upload",:url=>{:action=>"upload_rfp",:id=>doc.id },:position=>"") %>  <% end %> </td>
      <td><%= link_to_remote("Upload Related Documents",:update=>"upload",:url=>{:action=>"upload_docs",:id=>doc.id },:position=>"") %> </td>
    </tr>
    <% end %>
    </table>
    <div id="view">
    </div>
    <div id="upload">
    </div>